---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Rob, the guy that's set this up"
	pubDate={new Date('October 26 2024')}
	heroImage="/hero-placeholder.jpg"
>
	<p>
		As mentioned, my name is Rob and I've been playing Underworlds since pretty much the first release
		back in 2017.
	</p>

	<p>
		I have a keen eye for rules interactions and I love playing competitively, although my favourite way
		to play is over a tasty beverage with the aim of just having a good time regardless of the final outcome.
	</p>

	<p>
		Away from Underworlds, I'm a keen software engineer by trade and hobby, and I enjoy building other models
		(currently engaged in Bolt Action, Lego, The Horus Heresy, and tons of scenery).
	</p>
</Layout>
